/*----------------------------Null----------------------------*/
a,
a:visited,
a:hover {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*----------------------------Variables----------------------------*/
:root {
  --color-text: #f5fbf2;
}

/*----------------------------Other----------------------------*/
body {
  font-family: 'Work Sans', sans-serif;
  color: var(--color-text);
  background-color: #1c121f;
  overflow-x: hidden;
}

.container-main {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}

/*----------------------------General class----------------------------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
}
.subtitle {
}
.text {
}

.btn {
  display: block;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  min-width: 169px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin: 0 auto;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*----------------------------Header----------------------------*/
.header {
}
.container-main {
}
.container {
}
.header-nav-wrap {
  display: flex;
  align-items: center;
  padding: 37px 0px 140px 0px;
}
.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.header-logo {
  display: inline-block;
}
.header-img {
}
.header-list {
  display: flex;
  gap: 64px;
  margin-right: 160px;
}
.header-item {
}
.header-link {
  color: #f5fbf2;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02em;
  position: relative;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover {
  color: #ffce4e;
}
.header-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #ffce4e;
  position: absolute;
  bottom: -8px;
  transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover::after {
  width: 100%;
}

.header-btn {
  color: #ffce4e;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
  height: 64px;
  min-width: 195px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #ffce4e;
  background-color: rgba(233, 215, 167, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 73px;
}
.header-btn:hover {
  background-color: rgba(233, 215, 167, 0.2);
}
.hero {
  display: flex;
  justify-content: space-between;
}
.hero-wrap {
  padding-top: 32px;
}
.hero-title {
  margin-bottom: 77px;
  max-width: 710px;
  font-family: Oxanium;
  font-size: 85px;
  line-height: 1.52;
}
.hero-title span {
  color: #ffce4e;
}
.hero-btn-wrap {
  display: flex;
  gap: 48px;
  margin-bottom: 120px;
}
.hero-btn {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.28;
  display: block;
  height: 84px;
  min-width: 257px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: #ffce4e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover {
  background-color: #c8920b;
}
.hero-btn:nth-child(2) {
  color: #fff;
  border: 1px solid #ffce4e;
  background-color: rgba(233, 215, 167, 0.1);
}
.hero-btn:nth-child(2):hover {
  background-color: rgba(233, 215, 167, 0.2);
}
.hero-content-wrap {
  display: flex;
  align-items: center;
  gap: 104px;
}
.hero-content {
}
.hero-subtitle {
  color: #f5fbf2;
  font-family: Oxanium;
  font-size: 62px;
  font-weight: 700;
  line-height: normal;
}
.hero-subtext {
  color: #9b9e9a;
  font-size: 24px;
  line-height: 1.47;
  text-align: center;
}

.hero-img-wrap {
  margin-right: 73px;
  position: relative;
  align-self: flex-start;
}
.hero-img {
}
.hero-info-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 24px 24px 0px 24px;
  overflow: hidden;
}
.hero-info-conteiner {
  opacity: 0.95;
  background: linear-gradient(
    93deg,
    rgba(255, 137, 61, 0.09) -52.37%,
    rgba(250, 250, 250, 0.9) 137.41%
  );
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(22.5px);
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-info {
}
.hero-info-subtitle {
  color: #e4dee7;
  font-family: Oxanium;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.hero-info-text {
  color: #fff;
  font-family: Oxanium;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}
.hero-start-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9fbfd;
  padding: 35px 40px 35px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-start {
}
.hero-start-subtitle {
  color: #16091b;
  font-family: Oxanium;
  font-size: 28px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.07em;
}
.hero-start-text {
  color: #594d5e;
  font-size: 24px;
  line-height: 1.47;
}
.hero-start-btn {
  display: block;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  border: none;
  background-color: #ffce4e;
  backdrop-filter: blur(22.5px);
  min-width: 205px;
  height: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-start-btn:hover {
  background-color: #c8920b;
}

.header-bg-filter {
  position: absolute;
  width: 48%;
  height: 100%;
  background-color: rgba(79, 70, 78, 0.45);
  backdrop-filter: blur(15px);
  top: 0;
  right: 0;
  z-index: 10;
}
.header-filter-1 {
  width: 445.002px;
  height: 227.087px;
  transform: rotate(-139.059deg);
  background-color: rgba(231, 178, 38, 0.83);
  filter: blur(225px);
  position: absolute;
  top: 539px;
  left: 1203px;
}
.header-filter-2 {
  width: 445.002px;
  height: 227.087px;
  transform: rotate(-139.059deg);
  background-color: #d53d5c;
  filter: blur(225px);
  position: absolute;
  top: 188px;
  left: 1247px;
}
.header-filter-3 {
  width: 445.868px;
  height: 247.576px;
  transform: rotate(-139.059deg);
  background-color: rgba(96, 231, 206, 0.67);
  filter: blur(225px);
  position: absolute;
  top: 617px;
  left: 923px;
}
.header-filter-4 {
  width: 402px;
  height: 208px;
  transform: rotate(-5.058deg);
  background-color: rgba(231, 178, 38, 0.8);
  filter: blur(225px);
  position: absolute;
  top: 675px;
  right: 1534px;
}
.header-filter-5 {
  width: 312px;
  height: 312px;
  transform: rotate(-5.058deg);
  border-radius: 312px;
  background-color: #bb00ab;
  filter: blur(175px);
  position: absolute;
  top: 663px;
  left: 924px;
}
.header-filter-6 {
  width: 334px;
  height: 188px;
  transform: rotate(-5.058deg);
  background-color: rgba(96, 231, 206, 0.5);
  filter: blur(225px);
  position: absolute;
  top: -150px;
  left: 1311px;
}
/*---------------------------- Section 1 ----------------------------*/
.brand {
  padding: 194px 0 104px 0;
}
.container {
}
.brand-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 132px;
}
.brand-item {
}
.brand-link {
}
.brand-svg {
  fill: #896e6e;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.brand-svg:hover {
  fill: #c8920b;
}

/*---------------------------- Section 2 ----------------------------*/
.auctions {
  padding: 80px 0px 80px 0px;
  background: linear-gradient(
    337deg,
    #251928 16.25%,
    rgba(37, 25, 40, 0) 91.6%
  );
}
.container {
}
.auctions-title {
  margin: 0 auto;
  font-family: Oxanium;
  font-size: 64px;
  font-weight: 700;
  line-height: 2.03;
  position: relative;
  width: 410px;
}
.auctions-title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  width: 110px;
  height: 110px;
  background-color: #8613a5;
  border-radius: 50%;
  z-index: -1;
}
.auctions-carousel {
  width: 1440px;
  overflow: hidden;
  margin-bottom: 84px;
}
.auctions-scroll {
  display: flex;
  gap: 28px;
  margin-bottom: 42px;
  justify-content: end;
}
.auctions-scroll-btn {
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.auctions-svg {
  fill: #f5fbf2;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auctions-svg:hover {
  opacity: 0.25;
}
.first {
}
.last {
}
.auctions-list {
  display: flex;
  gap: 42px;
  width: 9999px;
  transition: margin-left 450ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auctions-item {
  background-color: #3d2942;
  padding: 32px 32px 28px 32px;
}
.auctions-item-wrap {
  background-color: inherit;
}
.auctions-content {
  position: relative;
  width: 431px;
  height: 359px;
  overflow: hidden;
}
.auctions-img {
}
.auctions-time-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 66px;
  opacity: 0.95;
  background: linear-gradient(
    125deg,
    #8613a5 18.61%,
    rgba(250, 250, 250, 0.65) 137.4%
  );
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(22.5px);
}
.auctions-time {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.47;
  letter-spacing: 0.02em;
}
.auctions-info {
  margin-top: 28px;
  display: flex;
}
.auctions-ava {
  align-self: flex-start;
  margin-right: 16px;
}
.auctions-data {
  margin-bottom: 28px;
}
.auctions-name {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.26;
}
.auctions-username {
  color: #bdaac1;
  font-size: 20px;
  line-height: 1.77;
}
.auctions-chb-wrap {
  margin-left: auto;
  margin-top: 18px;
}
.auctions-chb-input {
}
.auctions-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.auctions-chb-like {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
}
.auctions-chb-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #76607a;
}
.auctions-chb-input:checked
  + .auctions-label
  .auctions-chb-like
  .auctions-chb-svg {
  fill: #8613a5;
}
.auctions-chb-text {
  color: #76607a;
  font-size: 32px;
  line-height: 1.1;
}
.auctions-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.auctions-price-subtitle {
  color: #c6bfc8;
  font-size: 24px;
  line-height: 1.47;
}
.auctions-price-sum {
  font-family: Oxanium;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.47;
}
.auctions-btn {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.47;
  letter-spacing: 1.2px;
  width: 100%;
  height: 78px;
  border: 1px solid #fde8b3;
  background-color: rgba(233, 215, 167, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auctions-btn:hover {
  background-color: rgb(148, 129, 73);
}
.auctions-all-btn {
  color: #f5fbf2;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.05em;
  min-width: 257px;
  height: 84px;
  border: 1px solid #ffce4e;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auctions-all-btn:hover {
  background-color: rgb(148, 129, 73);
}
.auctions-filter-1 {
  width: 228px;
  height: 167px;
  background-color: rgba(231, 178, 38, 0.7);
  filter: blur(225px);
  position: absolute;
  top: -37px;
  left: 129px;
}

/*---------------------------- Section 3 ----------------------------*/
.works {
  padding: 185px 0px 174px 0px;
}
.container {
}
.works-title {
  font-family: Oxanium;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 50px;
  text-align: center;
}
.works-list {
  display: flex;
  justify-content: center;
  gap: 290px;
  margin-bottom: 32px;
}
.works-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.works-link {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 106px;
  background-color: #372839;
  border-radius: 50%;
  margin: 0 auto;
}
.works-item:nth-child(1) .works-link {
  animation-name: color1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes color1 {
  0% {
    background-color: #372839;
  }
  50% {
    background-color: #68386f;
  }
  100% {
    background-color: #372839;
  }
}
.works-item:nth-child(2) .works-link {
  animation-name: color2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}
@keyframes color2 {
  0% {
    background-color: #372839;
  }
  50% {
    background-color: #68386f;
  }
  100% {
    background-color: #372839;
  }
}
.works-item:nth-child(3) .works-link {
  animation-name: color3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes color3 {
  0% {
    background-color: #372839;
  }
  50% {
    background-color: #68386f;
  }
  100% {
    background-color: #372839;
  }
}
.works-item:nth-child(4) .works-link {
  animation-name: color4;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}
@keyframes color4 {
  0% {
    background-color: #372839;
  }
  50% {
    background-color: #68386f;
  }
  100% {
    background-color: #372839;
  }
}
.works-svg {
  fill: #908294;
  stroke: transparent;
}
.works-item:last-child .works-link .works-svg {
  fill: transparent;
  stroke: #908294;
}
.works-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.works-item:nth-child(1) .works-arrow {
  animation-name: circle1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes circle1 {
  0% {
    right: 40px;
    width: 50px;
  }
  25% {
    width: 120px;
  }
  50% {
    width: 166px;
  }
  75% {
    width: 120px;
  }
  100% {
    width: 50px;
    right: -380px;
  }
}
.works-item:nth-child(2) .works-arrow {
  animation-name: circle2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes circle2 {
  0% {
    right: 40px;
    width: 50px;
  }
  25% {
    width: 120px;
  }
  50% {
    width: 166px;
  }
  75% {
    width: 120px;
  }
  100% {
    width: 50px;
    right: -380px;
  }
}
.works-item:nth-child(3) .works-arrow {
  animation-name: circle3;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes circle3 {
  0% {
    right: 40px;
    width: 50px;
  }
  25% {
    width: 120px;
  }
  50% {
    width: 166px;
  }
  75% {
    width: 120px;
  }
  100% {
    width: 50px;
    right: -380px;
  }
}
.works-text-list {
  display: flex;
  padding: 0 15px;
}
.works-text-item {
}
.works-text-item:nth-child(1) {
  margin-right: 150px;
}
.works-text-item:nth-child(2) {
  margin-right: 180px;
}
.works-text-item:nth-child(3) {
  margin-right: auto;
}
.works-text {
  color: #ffce4e;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.works-filter-1 {
  position: absolute;
  top: -11px;
  right: 544px;
  width: 172px;
  height: 168px;
  background-color: #d53d5c;
  filter: blur(225px);
}

/*---------------------------- Section 4 ----------------------------*/
.creators {
  padding: 104px 0px 80px 0px;
  background: linear-gradient(
    180deg,
    #1c121f 9.98%,
    rgba(28, 18, 31, 0.21) 81.39%
  );
}
.container {
}
.creators-title {
  font-family: Oxanium;
  font-size: 64px;
  font-weight: 700;
  line-height: 2.03;
  position: relative;
  width: 390px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.creators-title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -38px;
  transform: translateY(-50%);
  width: 110px;
  height: 110px;
  background-color: #e03054;
  border-radius: 50%;
  z-index: -1;
}
.creators-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 56px 72px;
  margin-bottom: 84px;
}
.creators-item {
  display: flex;
  background-color: #302034;
  box-shadow: 2px 0px 0px 0px #e03054 inset;
  padding: 26px 0px 26px 29px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.creators-item:hover {
  box-shadow: 10px 0px 0px 0px #e03054 inset;
  padding: 26px 0px 26px 29px;
}
.creators-info {
  padding: 16px 100px 8px 24px;
  position: relative;
}
.creators-info::after {
  content: '';
  position: absolute;
  right: 0;
  width: 3px;
  height: 100px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #49374e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    height 250ms cubic-bezier(0.4, 0, 0.2, 1),
    right 250ms cubic-bezier(0.4, 0, 0.2, 1),
    width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.creators-item:hover .creators-info::after {
  height: 156px;
  width: 10px;
  background-color: #e03054;
  right: -177px;
}
.creators-name {
  font-family: Oxanium;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
}
.creators-price {
  color: #bdaac1;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}
.creators-box {
  padding-top: 13px;
  padding: 13px 55px 13px 55px;
}
.creators-number {
  font-family: Oxanium;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
  text-align: center;
}
.creators-items {
  color: #908294;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
}
.creators-btn {
  display: block;
  margin: 0 auto;
  color: #f5fbf2;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.05em;
  min-width: 257px;
  height: 84px;
  border: 1px solid #ffce4e;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.creators-btn:hover {
  background-color: rgb(148, 129, 73);
}
/*---------------------------- Footer ----------------------------*/
.footer {
  background-color: #251928;
  padding: 108px 0px 116px 0px;
}
.container {
}
.footer-container {
  display: flex;
}
.footer-logo {
  margin-right: 51px;
}
.footer-img {
}
.footer-info {
  display: flex;
  flex-direction: column;
  gap: 52px;
  margin-right: 200px;
}
.footer-text {
  width: 390px;
  color: #96839b;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.8;
}
.footer-list {
  display: flex;
  gap: 30px;
}
.footer-item {
}
.footer-svg-link {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-svg {
  flex-shrink: 0;
  fill: #d53d5c;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-svg-link:hover .footer-svg {
  fill: #f7d7ff;
}
.footer-brand {
  color: #96839b;
  font-size: 20px;
  line-height: 1.8;
}

.footer-about {
  margin-right: 225px;
}
.footer-about-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.47;
  margin-bottom: 18px;
}
.footer-about-list {
}
.footer-about-item {
}
.footer-about-link {
  color: #96839b;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.52;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-support {
}
.footer-support-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.47;
  margin-bottom: 18px;
}
.footer-support-list {
}
.footer-support-item {
}
.footer-support-link {
  color: #96839b;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.52;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-support-link:hover,
.footer-about-link:hover {
  color: #baa8bf;
}
.footer-filter-1 {
  position: absolute;
  top: -108px;
  left: -80px;
  width: 202px;
  height: 167px;
  background-color: #d53d5c;
  filter: blur(275px);
}
